/* table styling */
table {
  width: 80%;
  border-collapse: collapse; /* Removes gaps between borders */
  font-family: Arial, sans-serif;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

td button {
  margin: 0 40px 0 0;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.update-button {
  background-color: #2196F3;
}

.delete-button {
  background-color: #f44336;
}

.update-button:hover{
  background-color: #1976D2;
}

.delete-button:hover{
  background-color: #d32f2f;
}

/* input form styling */
.contact-form {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: lightgray;
  font-family: Arial, sans-serif;
}

.form {
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}

.contact-form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.contact-form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.contact-form button:hover {
  background-color: #45a049;
}

/* modal styling */
.open {
  background-color: #4CAF50;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
}
.open:hover {
  background-color: #45a049;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 3% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #888;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}